%fan {
  position: absolute;
  left: 0;
  right: 0;
}

.fan-l img,
.fan-r img {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
//  transition-timing-function: ease-out;
}

.fan {
  height: 680px;
  text-align: center;


  &-primary {
    @extend %fan;
    z-index: 5;
  }

  &-secondary {
    @extend %fan;
    z-index: 4;

    .fan-out &.fan-l img {
      transform: translate3d(-68%, 0, 0) scale(.8);
    }

    .fan-out &.fan-r img {
      transform: translate3d(68%, 0, 0) scale(.8);
    }
  }

  &-tertiary {
    @extend %fan;
    z-index: 3;

    &.fan-r img {
      transition-delay: .1s;
    }

    &.fan-l img {
      transition-delay: .2s;
    }

    .fan-out &.fan-l img {
      transform: translate3d(-117%, 0, 0) scale(.6);
    }

    .fan-out &.fan-r img {
      transform: translate3d(117%, 0, 0) scale(.6);
    }
  }

  &-quaternary {
    @extend %fan;
    z-index: 1;

    &.fan-r img {
      transition-delay: .3s;
    }
    &.fan-l img {
      transition-delay: .4s;
    }

    .fan-out &.fan-l img {
      transform: translate3d(-153%, 0, 0) scale(.3);
    }

    .fan-out &.fan-r img {
      transform: translate3d(153%, 0, 0) scale(.3);
    }
  }
}

