

.feature-fixed {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 7% 80%;
  background-attachment: fixed;


  &__content {
    position: absolute;
    width: 100%;
    left: 5%;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);

    & h2 {
      margin-bottom: 1rem;
      font-weight: 200;
      font-size: 42px;
      color: $navy
    }

    & h5 {
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: $seaserpent;
    }

    & li,
    & p {
      font-size: 1rem;
      line-height: 1.8;
    }

    @media screen and (min-width: $large-start) {
      
      width: 25%;
    }

//    &:after {
//      content: "";
//      display: block;
//      width: 100%;
//      padding: 60% 0;
//      margin: 2em auto 0;
//    }
  }

  &.img-students {
    background-image: url('images/bg-laptop-students-warm.jpg');
    /*background-image: url('images/bg-laptop-students-teal.jpg');*/
    /*background-image: url('images/laptop-life-career-1.jpg');*/
  }

  &.img-residents {
    background-image: url('images/bg-laptop-residents.jpg');
    /*background-image: url('images/laptop-life-career-1.jpg');*/
  }

  &.img-doctors {
    background-image: url('images/bg-laptop-dos.jpg');
    /*background-image: url('images/laptop-life-career-1.jpg');*/
  }
}
