.feature {
  display: flex;  
  flex-direction: column;
  position: relative;
  height: 600px;
  
  @media screen and (min-width: $large-start) {
    flex-direction: row;
  }

}

.feature-image {
  @media screen and (min-width: $large-start) {
    position: absolute;
  }

  &-left {
    @media screen and (min-width: $large-start) {
      left: -28%;
    }
  }

  &-right {
    @media screen and (min-width: $large-start) {
      right: -28%;
    }
  }
}

.feature-col {
  @media screen and (min-width: $large-start) {
    flex-basis: 50%;
  }

  &-right {
    @media screen and (min-width: $large-start) {
      padding-left: 8.75rem;
    }
  }

  &-left {
    @media screen and (min-width: $large-start) {
      padding-right: 8.75rem;
    }
  }
}

.feature-content {
  align-self: center;
}

.feature-body {
}

.feature-inner-screen {
  position: absolute;
  top: 7%;
  left: 14.3%;
  overflow: hidden;
  right: 0;
  bottom: 18%;

  & img {
    transition: 11s transform ease-in-out;
  }

  &.demo img {
    transform: translate3d(0, -53%, 0);
  }

}
