.feature {
  display: flex;  
  flex-direction: column;
  position: relative;
  height: 600px;
  
  @media screen and (min-width: $large-start) {
    flex-direction: row;
  }

}

.feature-image {
  @media screen and (min-width: $large-start) {
    position: absolute;
  }

  &-left {
    @media screen and (min-width: $large-start) {
      left: -28%;
    }
  }

  &-right {
    @media screen and (min-width: $large-start) {
      right: -28%;
    }
  }
}

.feature-col {
  @media screen and (min-width: $large-start) {
    flex-basis: 50%;
  }

  &-right {
    @media screen and (min-width: $large-start) {
      padding-left: 8.75rem;
    }
  }

  &-left {
    @media screen and (min-width: $large-start) {
      padding-right: 8.75rem;
    }
  }
}

.feature-content {
  align-self: center;
}

.feature-body {
}


