.super {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background-color: rgba(0, 0, 102, .92);

  &__bg {
    background-image: url(images/laptop-life-career-1.jpg);
  }

  &__body {
    align-self: center;
    text-align: center;
    color: $white;

    h1 {
      margin-bottom: 2rem;
      font-size: 64px;  
      line-height: 77px;
    }

    h5 {
      margin: 0 auto 3rem;
      width: 67%;
      font-size: 30px;
      line-height: 42px;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
