.super {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background-color: rgba(0, 0, 102, .92);

  &__bg {
    background-image: url(images/laptop-life-career-1.jpg);
  }

  &__body {
    align-self: center;
    text-align: center;
    color: $white;

    h1 {
      margin-bottom: 1rem;
      font-size: 2.25rem;
      line-height: 1.3;
      font-weight: 700;

      @media screen and (min-width: $large-start) {
        margin-bottom: 2rem;
        font-size: 4rem;  
        line-height: 1.4;
      }
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.4;
      width: 100%;
  
      @media screen and (min-width: $large-start) {
        margin: 0 auto 3rem;
        width: 67%;
        font-size: 1.875rem;
      }
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
