.super {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background: url(images/closeup-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 100%;
  /*background-color: rgba(0, 0, 102, .92);*/

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /*background-color: rgba(0, 0, 102, .9);*/
    /*background-color: rgba(255, 255, 255, 0.82);*/
    background-color: rgba(53, 53, 53, 0.21);
  }

  &__header {

    a {
      position: absolute;
      left: 15%;
      top: 5%;
      width: 306px;
      height: 39px;
      background: url('images/aoa-logo-white.svg') no-repeat 50% 50%;
    }

  }

  &__body {
    align-self: center;
    text-align: center;
    color: $white;

    h1 {
      margin-bottom: 1rem;
      font-size: 2.25rem;
      line-height: 1.2;
      font-weight: 700;
      letter-spacing: -.5px;

      @include mq(l) {
        font-size: 4rem;  
      }
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.4;
      font-weight: 200;
      width: 100%;
  
      @include mq(l) {
        margin: 0 auto 3rem;
        width: 67%;
        font-size: 1.875rem;
      }
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
