.titlebar {
  padding: 1.25rem 1.5rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: $orange;

  h2 {
    font-weight: 400;
    color: $white;
    line-height: 1.2;
    font-size: 18px;

    @include mq(l) {
      font-size: 1.5rem;
    }
  }


}
