@import './../../node_modules/reset-css/_reset.scss';
@import url("https://use.typekit.net/vdi5qvx.css");

$navy: #000066;
$teal: #22a49c;
$seaserpent: #11c7eb;
$orange: #ffaa00;
$white: #ffffff;

$large-start: 992px;

@import 'super';
@import 'feature';

html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 64px;  
  line-height: 77px;
}

img {
  max-width: 100%;
  height: auto;
}

.fixed {
  position: fixed;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrap {
  margin: auto;
  max-width: 71.25rem;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1140px;
}

.module {
  margin-bottom: 16rem;
}
