@import './../../node_modules/reset-css/_reset.scss';
@import url("https://use.typekit.net/vdi5qvx.css");

$navy: #000066;
$teal: #22a49c;
$seaserpent: #11c7eb;
$warm: #f9f7f5;
$orange: #ffaa00;
$white: #ffffff;
$dark: #2a2a2a;

$small: 480px;
$medium: 768px;
$large-start: 992px;

@import 'mixins';
@import 'super';
@import 'feature';
@import 'feature-fixed';
@import 'fan';
@import 'reveal';
@import 'btn';
@import 'titlebar';
@import 'footer';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $dark;
}

h1 {
  font-size: 64px;  
  line-height: 77px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer; 
  color: $dark; 
}

p, li {
  @extend %p-base;
}

.relative {
  position: relative;
  top: 50px;
}

.stuck,
.fixed {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 10;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapped {
  overflow: hidden;
}

.wrap {
  margin: auto;
  max-width: 71.25rem;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1140px;
}

.module {
  margin-bottom: 16rem;
  padding: 6rem 0;
}

.main {

  @include mq(m) {
    height: 100%;
  }
  /*overflow: hidden;*/
}

.main-body {
  height: 100%;
  background-color: $white;
}

.hidden {
  visibility: hidden;
  
}

.scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  width: 38px;
  height: 44px;
  margin: 0 auto;
  background: url('images/arrow-bottom.svg') no-repeat 50% 50%;
  
}

.image-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
