@import './../../node_modules/reset-css/_reset.scss';
@import url("https://use.typekit.net/vdi5qvx.css");

$navy: #000066;
$teal: #22a49c;
$seaserpent: #11c7eb;
$warm: #f9f7f5;
$orange: #ffaa00;
$white: #ffffff;

$small: 480px;
$medium: 768px;
$large-start: 992px;

@import 'mixins';
@import 'super';
@import 'feature';
@import 'feature-fixed';
@import 'fan';
@import 'reveal';
@import 'btn';
@import 'titlescreen';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 64px;  
  line-height: 77px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
  top: 50px;
}

.stuck,
.fixed {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 10;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrap {
  margin: auto;
  max-width: 71.25rem;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1140px;
}

.module {
  margin-bottom: 16rem;
}

.main {
  height: 100%;
  /*overflow: hidden;*/
}

.main-body {
  height: 100%;
  background-color: $white;
}
